body{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
img{
    height: 400px;
    width: 800px;
    border-color: red;
    border-width: 5px;
}
border {
    border-width: 20px;
}
.input{
    margin-left: 420px;
}
.submit{
    margin-left: 550px
}
.github-btn{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background: #ff5353;
}
