
#cardImageStudent{
    width: 130px;
    height: auto;
  }
  .cardsAvailable{
    font-size: 1em;
    max-width: 150px;
    margin: 10px;
    padding: 10px
  }
  .cardInactive{
    background-color: black;
    font-size: 1em;
    max-width: 150px;
    margin: 10px;
    padding: 10px
  }
  .mentorsSection{
    margin-top: 60px
  }
  .timestamps{
    height:80px ;
    background-color:rgba(238, 238, 238, 0.92);
    padding: 5px
  }
  .card-title{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }
  #userId{
    font-size: 2em
  }
  #matchSection{
    margin-top: 60px
  }
  .matchStudent{
    font-weight: 800;
    color: rgba(221, 86, 86, 0.867)
  }